body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    padding: 0;
    margin: 0;
}

#main-header {
    width: 100%;
    background: #00006b;
    color: white;
    padding-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
  
.logo a{
    text-decoration: none;
    color: white;
}
  
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    font-size: 1.8rem;
    border: 1px solid pink;
    padding: 0.5rem 1rem;
}

#main-content{
    border: 15px solid black;
    border-radius: 15px;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 8rem;
    margin-bottom: 23rem;
}

#main-footer{
    background: black;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: auto;
}
  
#main-footer p{
    color: white;
    text-align: center;
    padding: 5px;
}
